<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="app-name">Movie App</div>
    <span class="ma-spacer"></span>
    <span fxHide.lt-sm="true" fxShow.gt-xs="true">
      <span
        class="ma-icon"
        routerLink="/home/marvel"
        [routerLinkActive]="'is-active'"
        >Home</span
      >
      <span
        class="ma-icon"
        routerLink="/search"
        [routerLinkActive]="'is-active'"
        >Search</span
      >
      <span
        class="ma-icon"
        routerLink="/featured/marvel"
        [routerLinkActive]="'is-active'"
        >Featured</span
      >
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row fxShow.lt-sm="true" fxHide.gt-xs="true">
    <span class="ma-spacer"></span>
    <span
      class="ma-icon"
      routerLink="/home/marvel"
      [routerLinkActive]="'is-active'"
      >Home</span
    >
    <span class="ma-icon" routerLink="/search" [routerLinkActive]="'is-active'"
      >Search</span
    >
    <span
      class="ma-icon"
      routerLink="/featured/marvel"
      [routerLinkActive]="'is-active'"
      >Featured</span
    >
  </mat-toolbar-row>
</mat-toolbar>
