.page-nav-title, .page-sub-title {
  margin: 10px 5px;
}

.search-items {
  margin: 15px;
}

.img-responsive {
  width: auto;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 !important;
}
